@model IEnumerable<cookboard.Models.Ingrediente>
@{
    ViewBag.Title = "getIngredientes";
    string currentType = (string)@ViewData["Type"];

    switch (currentType)
    {
        case "Professor":
            Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
            break;
        case "Aluno":
            Layout = "~/Views/Shared/_LayoutAluno.cshtml";
            break;
    }
}

<div style="display:flex; justify-content: space-between">
    <h1 style="margin-left: 24px;">
        Lista Ingredientes
    </h1>
    <input style="margin-right: 24px;" type="button" class="btn btn-light" style="float:right;" value="Localizar Ingredientes" onclick="location.href='@Url.Action("getLocalizacao","LocalIngrediente", new { idReceita = 1 })';" />
</div>

<hr>

<div style="margin-left: 24px;">
    @foreach (var item in Model)
    {
        <input type="checkbox"> @Html.DisplayFor(modelItem => item.Nome)
        <hr>
    }
</div>