@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewBag.Title = "Cookboard";
}

<div>
    <div id="myCarousel" class="carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/img/banner.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div style="        background-color: rgb(204, 230, 255);
        color: black;
        padding: 20px;">
        <h3>QUALIDADES DO ASSISTENTE</h3>
    </div>
    <p>


    </p>
    <div style="width: 100%; background-color: white;">
        <div style="width: 90%; background-color: white;">
            <div class="row" style="padding-left: 17%; padding-right:5%">
                <div class="col-sm-4" style="display: flex; flex-direction: column; align-items: center;">
                    <img src="~/img/diploma.png" alt="Generic placeholder image" width="100" height="100">
                    <h2><span class="title" style="color:black;">EDUCATIVO</span></h2>
                </div>
                <div class="col-sm-4" style="display: flex; flex-direction: column; align-items: center;">
                    <img src="~/img/mixer.png" alt="Generic placeholder image" width="100" height="100">
                    <h2><span class="title" style="color:black;">INTERATIVO</span></h2>
                </div>
                <div class="col-sm-4" style="display: flex; flex-direction: column; align-items: center;">
                    <img src="~/img/chef.png" alt="Generic placeholder image" width="100" height="100">
                    <h2><span class="title" style="color:black;">REQUINTADO</span></h2>
                </div>
            </div>
        </div>
    </div>
    <p>


    </p>
    <div style="        background-color: rgb(204, 230, 255);
        color: black;
        padding: 20px;">
        <h3>PORQUÊ NÓS?</h3>
    </div>

    <div class="row featurette" style="width:99%;">
        <div class="col-md-5" style="margin-left:15.4%; margin-top:40px;">

            <p><span class="text-normal">> Assistente preparado para as suas necessidades.</span></p>
            <p><span class="text-normal">> Disponível 24 horas por dia, 7 dias por semana, 365 dias por ano.</span></p>
            <p><span class="text-normal">> Acompanhamento personalizado.</span></p>
            <p><span class="text-normal">> Receitas fáceis de aprender.</span></p>
            <p><span class="text-normal">> Possibilidade de se tornar um melhor profissional.</span></p>
        </div>
    </div>
</div>
    