@{
    ViewBag.Title = "Contact";
}



<div>
    <div id="myCarousel" class="carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/img/banner.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div style="        background-color: rgb(204, 230, 255);
        color: black;
        padding: 20px;">
        <h3>CONTACTOS</h3>
    </div>
    <p>

    </p>
    <div class="row featurette" style="width:99%;">
        <div class="col-md-5" style="margin-left:15.4%; margin-top:40px;">
            <div class="firstrow">
                <div>
                    <h3><span class="title_left">Localização</span></h3>
                    <h6><a><span class="text-small" style="font-size:2vh;">Avenida Dom João II 404 Piso 3 </span></a></h6>
                    <h6><a><span class="text-small" style="font-size:2vh;">4715-275 - Lamaçães, Braga </span></a></h6>
                </div>
                <p>

                </p>
                <div>
                    <h3><span class="title_left">Telefone</span></h3>
                    <h6><a><span class="text-small" style="font-size:2vh;">Linha SOS: 253 222 333 </span></a></h6>
                    <h6><a><span class="text-small" style="font-size:2vh;">Geral: 253 080 146 </span></a></h6>
                </div>
                <p>

                </p>
                <div>
                    <h3><span class="title_left">Email</span></h3>
                    <h6><a href="mailto:geral@geniusteccompany.pt"><span class="text-small" style="font-size:2vh;">geral@geniusteccompany.pt</span></a></h6>
                </div>
            </div>
        </div>
    </div>
